/* css to be referenced in tiki-toki advanced settings CSS File URL, uploaded to */
/* https://trabinfamilystorage.blob.core.windows.net/resources/trabinfamilytimeline.css */

table.tft-basic-tbla {
  color: #aaa;
  /* overflow:hidden; */
  /* min-height: 100%  */
}
img.tft-basic-tbla {
  border-style: solid; 
  border-color: #aaa; 
  border-width: 2px; 
  float: left; 
  margin-right: 5px;
}

a.tft-basic-tbla {
  /* margin-right: 5px; */
  /* margin-bottom: 5px; */
  color: #aaa;
  font-weight: bolder;
}

.tft-basic-ft ul li, .tft-basic-ft ul li a { 
  color: #aaa;
  font-size: 0.9em;
  font-style: italic;
 }

ul.tft-basic-ft {
  color: #aaa;
  font-size: 0.9em;
  font-style: italic;
  list-style-type: square;
  margin-top: 0;
  padding-left: 20px !important;
}

u.tft-basic-ft {
  color: #aaa;
  /* font-size: 0.9em; */
  font-weight: bolder;
  font-style: italic;
}

p.tft-basic-ft, a.tft-basic-ft, li.tft-basic-ft  {
  color: #aaa;
  /* font-size: 0.9em; */
  /* margin: 5px; */
}
